**/Secrets/*
!**/Secrets/example.*
!**/Secrets/*.example

**/output.css

**/package-lock.json

node_modules
.DS_STORE

**/*.tfvars
**/*.auto.tfvars
!**/*.tfvars.example
!**/*.auto.tfvars.example
**/.terraform*
**/.terraform/*
**/vm_dump.md

**/__pycache__/

lambda/.publish/
