**/Secrets/*
!**/Secrets/example.*
!**/Secrets/*.example

**/*.vars
!**/*.vars.example
!**/example.vars.*

**/wireguard_configs/*
!**/wireguard_configs/example.*
!**/wireguard_configs/*.example

**/output.css

**/package-lock.json

node_modules
.DS_STORE

**/*.tfvars
**/*.auto.tfvars
!**/*.tfvars.example
!**/*.auto.tfvars.example
**/.terraform*
**/.terraform/*
**/vm_dump.md

**/__pycache__/

lambda/.publish/
