**/Secrets/*
!**/Secrets/example.*

**/output.css

**/package-lock.json

node_modules
.DS_STORE

**/*.tfvars
**/*.auto.tfvars
!**/*.tfvars.example
!**/*.auto.tfvars.example
oracle/terraform/.terraform/providers/registry.terraform.io/hashicorp/oci/8.6.0/darwin_arm64/terraform-provider-oci_v8.6.0
