rules_version = '2';

service cloud.firestore {

  function isAuth() {
    return request.auth != null;
  }

  function isAdmin() {
    return get(/databases/$(database)/documents/Users/$(request.auth.uid)).data.role == "admin";
  }

  function isUserOwner(userId) {
    return request.auth.uid == userId;
  }

  function isOwnerOrAdmin(userId) {
    return isUserOwner(userId) || isAdmin();
  }

  match /databases/{database}/documents {
    match /Users/{userId} {
      allow read, write: if isAuth() && isOwnerOrAdmin(userId);

      match /Regions/{regionId} {
        allow read, write: if isAuth() && isOwnerOrAdmin(userId);
    
        match /Instances/{instanceId} {
          allow read, write: if isAuth() && isOwnerOrAdmin(userId);
        }
      }
    }
    match /Live-Regions/{regionId} {
      allow read: if isAuth();
      allow write: if isAuth() && isAdmin();
    }
  }
}