{
  "aws": {
    "SES_SENDER": "CloudLaunch <noreply@gocloudlaunch.com>",
    "ADMIN_EMAIL": "brodsky.alex22@gmail.com"
  },
  "cloudflare": {
    "CLOUDLAUNCH_WORKER_SECRET": "... use `openssl rand -hex 32` to generate"
  },
  "firebase": {
    "type": "service_account",
    "project_id": "vpn-frontend-...",
    "private_key_id": "...",
    "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
    "client_email": "firebase-adminsdk-fbsvc@vpn-frontend-...",
    "client_id": "...",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40vpn-frontend-...",
    "universe_domain": "googleapis.com"
  },
  "oci": {
    "OCI_REGION": "us-sanjose-1",
    "OCI_REGION_NAME": "San Jose",
    "OCI_USER_OCID": "...",
    "OCI_TENANCY_OCID": "...",
    "OCI_FINGERPRINT": "...",
    "OCI_PRIVATE_KEY": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----",
    "OCI_COMPARTMENT_ID": "ocid1.tenancy.oc1...replace_me",
    "OCI_AVAILABILITY_DOMAIN": "xJLJ:US-SANJOSE-1-AD-1",
    "OCI_SUBNET_ID": "ocid1.subnet.oc1.us-sanjose-1...replace_me",
    "OCI_SOURCE_IMAGE_ID": "ocid1.image.oc1.us-sanjose-1...replace_me",
    "OCI_SSH_AUTHORIZED_KEYS_JSON": [
      "ssh-rsa ... example",
      "ssh-rsa ... example"
    ],
    "OCI_HASHED_PASSWORD": "...",
    "OCI_INSTANCE_SHAPE": "VM.Standard.A1.Flex",
    "OCI_INSTANCE_MEMORY_GBS": "1",
    "OCI_INSTANCE_OCPUS": "1",
    "OCI_BOOT_VOLUME_SIZE_GBS": "50",
    "OCI_BOOT_VOLUME_VPUS_PER_GB": "10",
    "OCI_IPV6_SUBNET_CIDR": "2603:c024:c01a:8b69::/64"
  },
  "vpn": {
    "WG_INTERFACE": "wg0",
    "WG_LISTEN_PORT": "51820",
    "WG_ADDRESS_V4": "10.0.0.1/24",
    "WG_ADDRESS_V6": "fd42:42:42::1/64",
    "WG_CLIENT_ADDRESS_V4": "10.0.0.2/32",
    "WG_CLIENT_ADDRESS_V6": "fd42:42:42::2/128",
    "WG_DNS_ADDRESS_V4": "10.0.0.1",
    "WG_DNS_ADDRESS_V6": "fd42:42:42::1",
    "WG_NETWORK_V4": "10.0.0.0/24",
    "WG_NETWORK_V6": "fd42:42:42::/64",
    "WG_RATE_LIMIT": "25/second",
    "WG_RATE_LIMIT_BURST": "100",
    "WG_SERVER_PRIVATE_KEY": "..._SERVER_PRIVATE_KEY",
    "WG_SERVER_PUBLIC_KEY": "..._SERVER_PUBLIC_KEY",
    "WG_CLIENT_PRIVATE_KEY": "..._CLIENT_PRIVATE_KEY",
    "WG_CLIENT_PUBLIC_KEY": "..._CLIENT_PUBLIC_KEY",
    "WG_CLIENT_ALLOWED_IPS_V4": "0.0.0.0/0",
    "WG_CLIENT_ALLOWED_IPS_V6": "::/0",
    "WG_PEER_ALLOWED_IPV4": "10.0.0.2/32",
    "WG_PEER_ALLOWED_IPV6": "fd42:42:42::2/128",
    "WG_PEER_PERSISTENT_KEEPALIVE": "25"
  }
}
